<div class="container">
	<div class="content">
		<div class="home_header">
			<h1>Projects</h1>
			<hr></hr>
		</div>
		<div class="projects">
			<a href="http://fast-forest-6445.herokuapp.com/"><img src="recipe.jpg"></a>
			<a href="http://kschmit90.github.io/js-ttt"><img src="ttt_js.jpg"></a>
		</div>
	</div>
</div>