<h1>Home Page</h1>
<p><%= link_to("New User", signup_path) %></p>
<p><%= link_to("Log In", login_path) %></p>
<p><%= link_to("Projects", projects_path) %></p>
<p><%= link_to("Contacts", contacts_path) %></p>