.navbar .field {
	display: inline-block;
}

.navbar .submit_field {
	display: inline-block;
}

.navbar .form_field {
	float: right;
}

#nav_content {
	font-size: 30px;
}

.navbar #nav_content p{
	display: inline-block;
}

.navbar #nav_content a{
	display: inline-block;
	padding-left: 0px;
}

.logged_in {
	float: right;
	position: relative;
	padding-top: 14px;
	padding-right: 21px;
}

.content {
	clear: both;
}

#footer {
	margin-top: 100px;
	text-align: center;
	background-color: #f8f8f8;
	border-radius: 4px solid;
	border-color: #e7e7e7;
}

#footer p {
	margin-top: 5px;
}